__pycache__/
*.pyc
staticfiles/
# Ignore backup files
backup.json

# Ignore pycache inside migrations
*/migrations/__pycache__/

# Ignore staticfiles collected files
staticfiles/
.DS_Store

__pycache__/
*.pyc
db.sqlite3
media/

.env
__pycache__/
*.py[cod]